aiogram~=2.18
aioredis<2.0
environs~=9.0
asyncpg
pydantic~=1.10.4
youtube-search-python~=1.6.2
lxml~=4.9.2
bs4~=0.0.1
lyricsgenius~=3.0.1
shazamio~=0.3.1.1
git+https://github.com/Irrenriel/pytube@master#egg=pytube
beautifulsoup4~=4.11.1
pydub~=0.25.1