aiogram~=2.18
aioredis<2.0
environs~=9.0
pydantic~=1.10.4
youtube-search-python~=1.6.2
lxml~=4.9.2
bs4~=0.0.1
lyricsgenius~=3.0.1
beautifulsoup4~=4.11.1
pydub~=0.25.1
ytmusicapi~=1.0.2
shazamio~=0.4.0.1
pytube~=15.0.0
asyncpg~=0.25.0